.orb-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orb-container canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}